/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}



/******************************************
/* LAYOUT
/*******************************************/
body {
  background: rgb(142, 116, 83);
  text-align: center;
  color: rgb(16, 26, 40);
}
img{
  display: block;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.reward {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;
  height: 60vh;
  min-width: 300px;
  min-height: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(229, 203, 203, 0.304);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}
